.disclaimer-content .usa-icon{
	margin-left: 0px !important;
	margin-right: 10px !important;
}

.disclaimer-content .ph-icon{
	margin-left: 0px !important;
	margin-right: 10px !important;
}

.disclaimer-content .bs-callout{
	margin-bottom: 20px;
}