@import '../../../stylesheets/base.scss';

$left-space: 26px;
$border-gray: #ebebeb;

@mixin icons($url,$x,$y) {
  background: url($url);
  background-repeat: no-repeat;
  background-position: $x $y;
}

.header {
  @include absolute(0px, 0px, initial, 0px);
  @include box-sizing (100%, 115px);
  background-color: #00396c;
  .heading {
    margin: 13px;
    background: url(../../../assets/logo-2.png);
    background-repeat: no-repeat;
    @include box-sizing (auto, 54px);

  }

  .title {
    @include box-sizing (100%, 35);
    background-color: #f7f7f7;
    padding-left: $left-space;
    border-top: 1px solid $border-gray;
    border-bottom: 1px solid $border-gray;
    color: #000;
    h2 {
      padding-top: 8px;
      margin-left: $left-space;
      color: #000;
      font-weight: 100;
      float: left;
    }
  }
}

ul.options {
  @include list-horizontal;
  float: right;
  > li {
    float: left;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    background-color: #eee;
    @include box-sizing(125px, 34px);
    .link {
      height: 100%;
    }

  }

  li span {
    color: #000 !important;
    line-height: 30px;
    @include font(11px, $regular);
    cursor: pointer;

  }

  > li.mini {
    border: 0px;
    min-width: 30px;
    width: 30px;

  }

  > li.last {
    width: 40px;
    float: left;
  }

  > li.lang-sm {
    width: 62px;
    display: none;
    float: left;
  }

  .last::after {
    content: "";
    width: 18px;
    height: 18px;
    margin: 7px;
    float: right;
    background: url('../../../assets/svg/hamburger.svg');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    display: none;
  }

  .last.compare::after {
    display: block;
  }

  @media (max-width: 1024px) {
    .last::after {
      display: block;
    }

    .lang-sm {
      display: block !important;
      padding-top: 7px;
      .lan-selector {
        > div {
          height: 16px !important;
          width: 16px !important;
        }
      }
    }
  }

  > li.mini > span {
    display: none;
  }

  @media (max-width: 1024px) {
    li {
      width: 40px;
    }
    li span {
      display: none;
    }
  }

  li.active {
    background-color: #cfe1f0;
  }

  .options-icons {
    @include box-sizing (14px, 14px);
    float: left;
    margin: 9px;

  }

  .options-icons.compare {
    @include icons('../../../assets/svg/compare.svg', 0, 0);
  }
  .options-icons.filters {
    @include icons('../../../assets/svg/filter.svg', 0, 0);
  }
  .options-icons.settings {
    @include icons('../../../assets/svg/settings.svg', 0, 0);
  }
  .options-icons.basemaps {
    @include icons('../../../assets/svg/basemap.svg', 0, 0);
  }

  .options-icons.save {
    @include icons('../../../assets/svg/save2.svg', 0, 0);
  }
  .options-icons.share {
    @include icons('../../../assets/svg/share.svg', 0, 0);
  }
  .options-icons.print {
    @include icons('../../../assets/svg/print.svg', 0, 0);
  }
  .options-icons.export {
    @include icons('../../../assets/svg/export2.svg', 0, 0);
  }

  .example-enter {
    opacity: 0.01;
  }

  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .example-leave {
    opacity: 1;
  }

  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

}
