@import '../../../stylesheets/base.scss';

@mixin icons($x,$y) {
	background:url(../../../assets/sprites.png);
	background-repeat: no-repeat;
	background-position: $x $y;
}


.panel{
	@include absolute(101px,0px,40px,initial)
	@include font(16px,$regular);
	@include col2size();
	overflow:hidden;
	height: calc(100% - 141px);
	margin-bottom: 0px !important;
	>ul{
		@include margin(0px,initial,3px,10px)
		@include list-horizontal()
		padding:0px !important;
		
		.panel-tab{
			@include box-sizing(30%,38px) 	
			@include border-radius(5px)
			@include font(15px,$blue)
			border:1px solid #D5DBE0;
			margin:5px;
			padding-top: 7px;
		}
	}

	.icon{
		@include box-sizing(26px,28px) 	
		margin:-3px 5px 0px 5px; 
		float: left;
	}
	
	.panel-tab.active{
		border:1px solid #36678F;
		background-color: #f8fdff;
	}


	.icon.tools{
		@include icons(-81,-29)

	}
	.panel-tab.active .icon.tools{
		@include icons(-1,-29)
	}


	.icon.chart{
		@include icons(-55,-29)
	}
	.panel-tab.active .icon.chart{
		@include icons(-28,-29)
	}

	.panel-tab span{
		color: #D5DBE0;
	}

	.panel-tab.active span{
		color: #36678F;
	}
	
	.panel-tab a{
		text-decoration: none;
	}

	p{
		height: 40px;
		margin: 15px;
	}
}

.panel-expanded{
	width: 67% !important; 
}