@import '../../../stylesheets/base.scss';

@mixin icons($x,$y) {
	background:url(../../../assets/sprites.png);
	background-repeat: no-repeat;
	background-position: $x $y;
}


.panel{
	@include absolute(115px,0px,40px,initial)
	@include font(16px,$regular);
	@include col2size();

	>ul{
		@include margin(0px,initial,3px,10px)
		@include list-horizontal()
		margin-top: 18px;
		padding:0px !important;
		.panel-tab{

			@include box-sizing(12vw,39px) 	
			@include border-radius(5px)
			@include font(15px,$blue)
			display: inline-block;
			white-space: nowrap;
			border:1px solid #D5DBE0;
			margin:5px;
			overflow: hidden;
			padding-top: 7px;
				@media (max-width: 1024px) {
					width: 40px;
					span{
						display: none;
					}
			}
		}
		.panel-tab.active{
			border:1px solid #36678F;
			background-color: #f8fdff;
		}
	}

	.icon{
		@include box-sizing(26px,28px) 	
		margin:-3px 5px 0px 5px; 
		float: left;
	}
	
	


	.icon.tools{
		@include icons(-81,-29)

	}
	.panel-tab.active .icon.tools{
		@include icons(-1,-29)
	}


	.icon.chart{
		@include icons(-55,-29)
	}
	.panel-tab.active .icon.chart{
		@include icons(-28,-29)
	}

	.panel-tab span{
		color: #D5DBE0;
	}

	.panel-tab.active span{
		color: #36678F;
	}
	
	.panel-tab a{
		text-decoration: none;
	}

	p{
		height: 40px;
		margin: 15px;
	}
}

.panel-expanded{
	width: 67% !important; 
}


.stats{
	text-align: center;
  	display: inline-block;
	padding:20px;
  	width: 50%;
	h1{
	font-size: 3vw;
    padding: 0px;
    margin: 0px;
    /* border: 1px solid red; */
    line-height: 3vw;
    font-weight: bold;
	}
	p{
		font-size:12px;
	  	height: 10px;
	  line-height: 12px;
	  padding-bottom: 4px;
	  margin: 0px;
	  display: inline-block;
	  color: rgb(172, 208, 138);

	}
}