@import '../../../stylesheets/base.scss';

@mixin icons($x,$y) {
	background:url(../../../assets/sprites.png);
	background-repeat: no-repeat;
	background-position: $x $y;
}


.panel{
	@include absolute(115px,0px,40px,initial)
	@include font(16px,$regular);
	@include col2size();
	margin-bottom: 0px !important;
	>ul{
		@include margin(0px,initial,3px,10px)
		@include list-horizontal()
		margin-top: 18px;
		padding:0px !important;
		height: 50px;
		.panel-tab{

			@include box-sizing(12vw,39px) 	
			@include border-radius(5px)
			@include font(15px,$blue)
			display: inline-block;
			white-space: nowrap;
			border:1px solid #D5DBE0;
			margin:5px;
			overflow: hidden;
			padding-top: 7px;
				@media (max-width: 1024px) {
					width: 40px;
					span{
						display: none;
					}
			}
		}
		.panel-tab.active{
			border:1px solid #76ba55;
			background-color: #76ba55;
		}
	}

	.icon{
		@include box-sizing(26px,28px) 	
		margin:-3px 5px 0px 5px; 
		float: left;
	}
	
	


	.icon.tools{
		@include icons(-81,-29)

	}
	.panel-tab.active .icon.tools{
		@include icons(-1,-29)
	}


	.icon.chart{
		@include icons(-55,-29)
	}
	.panel-tab.active .icon.chart{
		@include icons(-28,-29)
	}

	.panel-tab span{
		color: #D5DBE0;
	}

	.panel-tab.active span{
		color: #FFFFFF;
	}
	
	.panel-tab a{
		text-decoration: none;
	}

	p{
		height: 40px;
		margin: 15px;
	}
}

.panel-expanded{
	width: 67% !important; 
}

