@import '../../../stylesheets/base.scss';

.chart{
	padding-top: 10px;
    border-bottom: 1px;
    border-bottom-color: #A7AEBB;
    border-bottom-style: solid;
}

.chart-type-selector{
	margin-left: 15px;
	font-size: 11px;
    align-items: center;
    display: inline-flex;
}

.chart-type-option{
	padding-right: 14px;
    input {
        vertical-align: sub;
    }
}

.chart-measure-selector{
	margin-right: 15px;
    font-size: 11px;
    align-items: center;
    display: inline-flex;
    float: right;
}

.chart-title{
	margin-left: 15px;
	padding-bottom: 10px;
}

.charts-container{
	overflow-y: scroll;
    overflow-x: hidden;
    height: 63%;
}

.no-data{
    font-weight: 600;
    color: #C10505;
    padding: 15px;
    text-transform: capitalize;
    font-size: 16px;
}

.expand-button{
    padding: 0 5px;
    position: relative;
    display: inline-block;
    margin: 5px 10px;
}

.expand-button-arrow{
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.left{
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #778393;
}

.right{
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #778393;
}

.expand-button-inner{
    padding: 8px 14px;
    color: #fff;
    text-align: center;
    background-color: #778393;
    border-radius: 4px;
    font-size: 14px;
}