@import '../../../stylesheets/base.scss';

.chart-view{
    height: calc(100% - 88px);
}

.chart{
	
}

.chart-type-selector{
    margin-bottom: 6px;
	margin-left: 15px;
	font-size: 11px;
    align-items: center;
    display: inline-flex;
    float: left;
}

.chart-type-option{
	padding-right: 14px;
    input {
        vertical-align: sub;
    }
}

.chart-measure-selector{
	margin-left: 5px;
    font-size: 11px;
    align-items: center;
    display: inline-flex;
    float: left;
}

.chart-title{
    margin-left: 15px;
    padding-bottom: 10px;
    text-align: left;
}

.chart-title-text{
    top: 8px;
    left: 5px;
    position: relative;
    display: inline-block;
    .title {
        font-size: 16px;
    }
    .subtitle{
        font-size: 12px;
        color: #4b4b4b;
    }
}

.chart-title-icon{
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
    background: url('../../../assets/chart-icons/chart_retract.svg');  
    padding-bottom: 20px;
    display: inline-flex;
    position: relative;
    bottom: 10px;
}

.charts-container{
	overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 5px);
}

.no-data{
    font-weight: 600;
    color: #C10505;
    padding: 15px;
    text-transform: capitalize;
    font-size: 16px;
}

.expand-button{
    padding: 0 5px;
    position: relative;
    display: inline-block;
    margin: 5px 10px;
}

.expand-button-arrow{
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.left{
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #778393;
}

.right{
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #778393;
}

.expand-button-inner{
    cursor: pointer;
    padding: 8px 14px;
    color: #fff;
    text-align: center;
    background-color: #778393;
    border-radius: 4px;
    font-size: 14px;
}

.chart-items-selector{
    margin-left: 15px;
    display: inline-flex;
    >button{
        margin-left: 3px; 
        font-size: 12px;
        width: 75px;
        height: 30px; 
    }
}

.item-qty-selector{
    margin-left: 2px;
    cursor: pointer;
}

.item-qty-selector-disabled{
    background-color: #CADDE2 !important;
    margin-left: 2px;
    cursor: pointer;
}

.toggle-button-pair{
    display: inline-flex;
    >div{
        cursor: pointer;
        padding-top: 7px;
        padding-left: 9px;
        background-color: #f9fafb;
        border: solid 1px #ced0da;
        height: 30px;
        width: 35px;
    }
    >div:first-child:not(:last-child){
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }
    >div:last-child:not(:first-child){
        margin-left: -1px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }
    .active{
        background-color: #acd08a
    }
}

@mixin chart-icon{
    width: 15px;
    height: 15px;
    background-size: 15px 15px;         
}

.chart-bar-icon{
    @include chart-icon;
    background: url('../../../assets/chart-icons/chart_bar_icon.svg');    
}

.chart-bar-icon-disabled{
    @include chart-icon;
    background: url('../../../assets/chart-icons/chart_bar_icon_disabled.svg');    
}

.chart-funding-icon{
    @include chart-icon;
    background: url('../../../assets/chart-icons/chart_funding_icon.svg');    
}

.chart-funding-icon-disabled{
    @include chart-icon;
    background: url('../../../assets/chart-icons/chart_funding_icon_disabled.svg');    
}

.chart-pie-icon{
    @include chart-icon;
    background: url('../../../assets/chart-icons/chart_pie_icon.svg');    
}

.chart-pie-icon-disabled{
    @include chart-icon;
    background: url('../../../assets/chart-icons/chart_pie_icon_disabled.svg');    
}

.chart-projects-icon{
    @include chart-icon;
    background: url('../../../assets/chart-icons/chart_projects_icon.svg');    
}

.chart-projects-icon-disabled{
    @include chart-icon;
    background: url('../../../assets/chart-icons/chart_projects_icon_disabled.svg');    
}

.less-items{
    color: red;
    padding-left: 7px;
}

.more-items{
    color: green;
    padding-right: 6px;
}

.modebar-btn--logo{
    display: none !important;
}

.modebar-btn[data-val="closest"]{
    display: none !important;
}
