@import '../../../stylesheets/base.scss';

.chart{
	padding-top: 10px;
    border-bottom: 1px;
    border-bottom-color: #A7AEBB;
    border-bottom-style: solid;
}

.chart-type-selector{
	margin-left: 15px;
	font-size: 11px;
    align-items: center;
    display: inline-flex;
}

.chart-type-option{
	padding-right: 14px;
    input {
        vertical-align: sub;
    }
}

.chart-measure-selector{
	margin-right: 15px;
    font-size: 11px;
    align-items: center;
    display: inline-flex;
    float: right;
}

.chart-title{
	margin-left: 15px;
	padding-bottom: 10px;
}

.charts-container{
	overflow-y: scroll;
    overflow-x: hidden;
    height: 335px;
}