.idea/
*.iml
bower_components
entity-model/target/
esri-ui/bower_components/**/**
*.js
dist
esri-ui/node_modules/
persistence/target/
services/target/
rest/target/
standalone/target/classes/org/devgateway/geoph/BootMetadata.class
target
esri-ui/dist