
.printable{
	padding: 20px 50px;
}

.printable .filter-list{
	padding-left: 35px;
}

.print-filters{
	padding-top: 20px;
}

.print-filter-title{
	font-weight: bold;
	padding-top: 10px;
}

.print-filter-date{
	padding-left: 35px;
}