@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import 'base';
@import 'filters';

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial;
}


.header{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0px; 
  left: 0px;
  width: 100%;
  height: 40px;
  overflow: hidden;
  border:3px solid red;

}


.main{
  padding: 0;
  margin: 0;
  position: absolute; 
  top: 40px;
  left: 0px;
  width: 60%;
  bottom: 40px;
  overflow: auto;
  border:3px solid green;
}

.panel{
  position: absolute;
  top: 40px;
  right: 0px;
  bottom: 40px;
  width: 40%;
  border: 3px solid yellow;
}

.footer{
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  height: 40px;
  border: 3px solid yellow;
}


.esri-view {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.map{
  width: 100%;
  height: 100%;
}


circle{
  stroke: rgba(255, 152, 0, 0.89);
  fill: #FFC107;
  r: 18 !important;
  stroke-opacity: .7;
  stroke-linejoin: bevel !important;
  stroke-width: 7
}