@import '../../../stylesheets/base.scss';

.expandable-control{
	@include box-sizing(auto,auto)
	@include font(15px,$regular)
	margin-left: 20px;
  	margin-right: 20px;
  	margin-bottom: 10px;

	.title{
		cursor: pointer;
		font-size: 15px;
		font-weight: bold;
		height: 50px;
		line-height: 50px;
		border-radius: 5px;
		padding: 0px 0px 0px 10px;
		background-color: #cfe1f0;
		border: 1px solid #dde6ef;
		.toggle{
			float: right;
			margin-right: 12px;
			font-size: 17px;
			>a{
				text-decoration: none;
			}
		}
	}
	.content{
		background-color:#FFF;
	}
}

