@import '../../../stylesheets/base.scss';

.export-container {
  @include controlBox();
  padding: $base-space;
  min-height: 50px;

  .export-csv {
    float: left;
    margin-left: $base-space * 2;

    &.compare {
      margin-left: $base-space / 2;
      padding-top: $base-space / 2;

      button {
        min-width: $base-space * 11;
      }
    }
  }

  .export-xls {
    float: right;
    margin-right: $base-space * 2;

    &.compare {
      margin-right: $base-space / 2;
      padding-top: $base-space / 2;

      button {
        min-width: $base-space * 11;
      }
    }
  }
}
