@import '../../../stylesheets/base.scss';

.print-container {
  @include controlBox();
  padding: $base-space;
  min-height: $base-space * 5;

  .new {
    width: $base-space * 3;

    .icon {
      width: $base-space * 1.5;
      height: $base-space * 1.5;
      background: url(../../../assets/svg/new-pdf.svg);
      background-size: 30px 30px;
      background-repeat: no-repeat;
      margin: auto;
    }

    span {
      display: block;
      font-size: 10px;
      line-height: $base-space / 2;
      text-align: center;
      color: green !important;
    }
  }

  .new-compare {
    .new {
      float: left;
    }
  }

  a {
    width: $base-space * 2;
    height: $base-space * 2;
    color: #337ab7 !important;
    text-decoration: none;
    float: left;
    margin: 5px;

    div.icon {
      width: 30px;
      height: 30px;
      background: url(../../../assets/svg/pdf.svg);
      background-size: 30px 30px;
      background-repeat: no-repeat;
      position: relative;
    }
  }

  span.big {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: $base-space / 2;
    padding-top: $base-space / 2;
    text-align: center;
  }

  span.small {
    display: none !important;
  }

  .new_loading {
    float: right;
  }
}
