@import '../../../stylesheets/base.scss';

.settings-container{
	@include controlBox();
	
	.list{
		clear: both;
	}
	.setting{
		width: 185px;
		margin-left: 27px;
		float:left
	}
	select{
		background-color: #eceff4;
	}

}