@import '../../../stylesheets/base.scss';

.settings-container{
	position: fixed;
	top: 180px;
	background-color: rgba(247, 247, 247, 0.93);
	left: auto;
	overflow: hidden;
	border-color: #EEE;
	border-style: solid;
	border-width: 2px;
	z-index: 1000;
}