@import '../../../../stylesheets/base';

.compare-layout {
  .main {
    width: 33.5%;
    border: 5px solid #c6c6c6;
  }

  .main.right-map {
    left: 33.5%;
  }

  .close-map {
    background-image: url('../../../../assets/ligth_gray_close.png');
    width: $base-space;
    height: $base-space;
    position: absolute;
    z-index: 1300;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .close-map {
    right: $base-space / 2;
    top: $base-space;
  }
}
