@import '../../../../stylesheets/base';

.map-layout {
  @include absolute(115px, initial, 40px, 0px);
  width: 100%;
  display: flex;
  flex-flow: row;

  .main {
    height: 100%;
    flex: 1;
    position: relative;

    .leaflet-container {
      height: 100%;
      width: 100%;
    }
  }

  // compare map styles
  &.compare-layout {
    .main {
      border: 5px solid #c6c6c6;
    }

    .close-map {
      background-image: url('../../../../assets/ligth_gray_close.png');
      position: absolute;
      width: $base-space;
      height: $base-space;
      right: $base-space / 2;
      top: $base-space;
      z-index: 100;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }
}
