
.project-grid{
	.container{
		width: 565px;
	}
}

.project-page-title{
	font-size: 17px !important;
    font-weight: bold;
    color: #4d5458 !important;
}

.project-field{
	color: #4d5458 !important;
	h2{
		color: #727679;
	}
}