
.header{
	.navbar{
		height: 55px;
		min-height: 55px !important;
		background-color: #00396c;
		margin:0px;
	}

	.container-fluid {
		padding-right: 0px; 
		padding-left: 0px; 
	}

	.navbar-header{
		height:52px;

	}

	.navbar-brand {
		margin:0px 0px 0px 10px !important;
		padding: 0px 0px;

		@include fontDefault($huge,$darkGray);
		font-weight: normal;

		@include middle();

	}
	
	.nav {
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		height: 38px;
		/* border: 1px solid red; */
	}

}