@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$black:000000;
$darkGray:#666666;
$green:#669933;
$bigSize: 16px;
$giant:18px;
$huge:16px;
$big:14px;
$large:12px;
$medium:11px;
$regular:10px;
$small:9px;
$gray:rgb(243,243,243);

