
.help {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	height:auto;

	width: 13px;
	height: 13px !important;
	background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAMAAwDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAABwID/8QAIhAAAgICAQQDAQAAAAAAAAAAAQIDBAURBgASEyEHFUFh/8QAFAEBAAAAAAAAAAAAAAAAAAAABf/EAB4RAAIBAwUAAAAAAAAAAAAAAAECAAMxkRESQXGx/9oADAMBAAIRAxEAPwBNy2MmzHH8fnJWSzfvkNHDNGsoEkhHiiUOCI0Ud3cV05I3vfU8o5pc4Flnw9WBshVKieEzMztCrevH3b2QCCRv3ogfnWfyNmLXCsjVr4jxvVtSmysFhe9YJCx2Y9aI9knRJGz6A6QePYWn9alm0gu27erE09lVd2ZlH80AAAAAAAB0szBED1BqvA8xBVQu5Skdri56vmf/2Q=="); 
	background-repeat: no-repeat;
	cursor: pointer;
}

.modal{
	display:block;
	.introjs-fixParent{
		left: 0px !important;
		top: 0px !important;
		right: 0px !important;
	}
}

.introjs-tooltiptext{
	borde:1px solid red !important;
}
