@import '../../../stylesheets/base.scss';


.lan-selector{
  padding: 0px;
  margin: 16px 50px 0px 0px;
  float: right;
  color: #FFF;
}

@mixin flag-icon{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block; 
}

.ph-icon{
    @include flag-icon;
    background: url('../../../assets/svg/Philippines.svg');    
}
 
.ph-icon-disabled{
    @include flag-icon;
    background: url('../../../assets/svg/Philippines-disabled.svg');    
}

.usa-icon{
    @include flag-icon;
    background: url('../../../assets/svg/USA.svg');    
}

.usa-icon-disabled{
    @include flag-icon;
    background: url('../../../assets/svg/USA-disabled.svg');    
}


