
.popup-container{
	width: 400px;
	height: 280px;
}

.popup-tab-content{
	padding-top: 20px;
}

.popup-title{
	padding: 6px;
}

.popup-tabs{
	border-bottom: 1px solid #ddd;
	padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #BEDBEF;
}

.popup-tabs li {
	font-size: 11px;
    float: left;
    width: 80px;
    margin-bottom: -1px;
    position: relative;
    display: block;
    list-style: none;
}

.popup-tabs li.active div{
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.popup-tabs li div{
	text-align: center;
	padding-top: 5px;
    cursor: pointer;
    height: 40px;
    word-spacing: 100px;
	background-color: #BDDCF0;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    position: relative;
    display: block;
}

.projects-paginator{
    text-align: center;
}

.projects-paginator ul{
    margin-top: 0px !important;
}

.project-list-div{
    padding-top: 20px;
    height: 200px;
}

.project-list{
    margin-top: 5px;
    width: 410px !important;
    text-align: center;
    font-size: 11px;
    max-height: 170px;
    overflow-y: auto; 
    overflow-x: hidden;  
}

.project-list-item{
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #c6c7ca;
    font-size: 11px;
    height: 28px;
    >div:last-child:not(:first-child){
        border-right: none; 
    }
    >div{
        padding-bottom: 5px;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 7px;
        border-right: 1px; 
        border-right-style: solid; 
        border-right-color: #c6c7ca;
    }
}

.project-list-header{
    border-bottom: 1px;
    border-bottom-style: solid;
    border-top: 1px;
    border-top-style: solid;
    border-bottom-color: #c6c7ca;
    border-top-color: #c6c7ca;
    font-size: 9px;
    color: #3a3b3c;
    height: 24px;
    >div:first-child{
        text-align: left;
    }
    >div{
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 5px;
    }
}

.project-title {
    text-align: left;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.loading-icon{
    height: 40px;
    width: 40px;
    margin-top: 25%;
    margin-left: 47%;
    background: url('../../../../assets/loading.gif') no-repeat;
}