
.popup-container{
	width: 400px;
	height: 280px;
}

.popup-tab-content{
	margin-top: 40px;
    border-top: 1px solid #A7AEBB;
}

.popup-title{
	padding: 6px;
    h2 {
        color: #044072;
    }
}

.popup-tabs{
	padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #BEDBEF;
}

.popup-tabs li {
	font-size: 11px;
    float: left;
    width: 80px;
    margin-bottom: -1px;
    position: relative;
    display: block;
    list-style: none;
}

.popup-tabs li.active div{
    color: #555;
    cursor: default;
    background-color: #fff;
    border-bottom-color: transparent;
}

.popup-tabs li div{
	text-align: left;
	padding-top: 2px;
    padding-left: 5px;
    cursor: pointer;
    height: 35px;
    word-spacing: 100px;
	background-color: #BDDCF0;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    position: relative;
    display: block;
    border-radius: 5px
}

.projects-paginator{
    text-align: center;
}

.projects-paginator ul{
    margin-top: 0px !important;
    padding-top: 8px;
}

.project-list {
    border-bottom: 1px solid #cecece;
}

.project-list-div{
    height: 170px;
}

.project-list{
    margin-top: 5px;
    width: 410px !important;
    text-align: center;
    font-size: 11px;
    max-height: 170px;
    overflow-y: auto; 
    overflow-x: hidden;  
}

.project-list-item{
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
    font-size: 11px;
    height: 30px;
    >div:last-child:not(:first-child){
        border-right: none; 
    }
    >div{
        padding-bottom: 5px;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 8px;
        border-right: 1px; 
        border-right-style: solid; 
        border-right-color: #ececec;
    }
}

.project-list-header{
    border-bottom: 1px;
    border-bottom-style: solid;
    border-top: 1px;
    border-top-style: solid;
    border-bottom-color: #c6c7ca;
    border-top-color: #c6c7ca;
    font-size: 9px;
    color: #303030;
    height: 26px;
    >div:first-child{
        text-align: left;
    }
    >div{
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 6px;
    }
}

.project-title {
    text-align: left;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.pagination-sm > li > a, .pagination-sm > li > span{
    height: 22px;
    width: 22px;
    font-size: 11px !important;
    padding: 2px 5px !important;
    float: none;
}

.leaflet-popup-content-wrapper{
    border-radius: 3px !important;
}

.leaflet-popup-content{
    margin: 3px 19px !important;
}

.leaflet-popup-close-button{
    margin-right: 5px !important;
    padding-top: 8px !important;
}


.nums{
    font-size: 11px !important;
    fill: #333 !important;
    >tspan{
        margin: 10px !important;
    }  
    >tspan:not(:last-child):not(:first-child){
        font-weight: bold;
        fill: #26b154 !important; 
        font-size: 11px !important;
    }
    >tspan:last-child{
        font-weight: bold;
        font-size: 11px !important;
    }  
}

.hovertext{
    margin: 20px;
    >path{
        stroke: #656565 !important;
        fill: #F5F5F5 !important;
    }
}

.total-funding-tab{
    display: inline-flex;
    padding-top: 10px;
    font-size: 11px;
    color: #2f2f2f;
    >div{
        font-weight: bold;
        padding-left: 7px;
    }
}

/*Loading spinner icon*/
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 25%;
  transform: scale(0.35);
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #1d97a8;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}

