@import '../../../stylesheets/base.scss';

.save-container{
	>h2{
		float: none !important;
		clear: both;
		padding-bottom: 0px !important;
	}
	.messages{
		margin: 0px 15px;
	}
	@include controlBox();
	.thing-enter {
		opacity: 0.01;
		transition: opacity 1s ease-in;
	}

	.thing-enter.thing-enter-active {
		opacity: 1;
	}

	.thing-leave {
		opacity: 1;
		transition: opacity 1s ease-in;
	}

	.thing-leave.thing-leave-active {
		opacity: 0.01;
	}
	.alert{
		clear:both;
		margin:20px 20px
	}
	.form-group{
		margin: 20px 20px;
	}
	.form-control{
		border: 1px solid #6699cc;
	}
	input.form-control{
		height: 45px;
	} 
	textarea.form-control {
		height: 83px !important;
	} 

	.btn-success,.btn-success:hover{
		background-color: #66cc66;
		border:0px;
		float: right;
		clear: both;
		margin-bottom: 15px;
	}

	.dashboard-checkbox{
		float: left;
		margin-left: 20px;
	}
}


