//color variables
$black: #000000;
$bgBlack:#242a2d;
$grey:#454545;
$grey-light: #8d8d8d;
$green-disabled: #b1d498;
$green: #98ca68;
$green-dark: #659735;
$blue: #4d749f;
$blue-dark: #234b77;
$bgblue:#74a4d6;
$white: #ffffff;
$yellow: #e9ba00;
$border-grey:#eeeeee;
$background-grey: #e6edee;
$border-grey-alt:#d1d1d1;
$saved-map-list-bg: #d7e0e4;
$danger:#d9534f;
$header-icon-color: #a0cdff;

// dimensions
$gutter: 1em;
$modal-padding: 20px;
$header-nav-margin: 13px;


// fonts
$base-font-family: 'Open Sans', sans-serif;
$base-line-height: 110%;
$text-small: 1.3rem;
$modal-title: 13px;
$default-text-size:12px;



//mixins
@mixin bgLayout{background-color: rgba(0,0,0,0.7);}
@mixin topbottomContainer{padding-left:$gutter*3;width:100%;} //inner container widths in header and footer
@mixin floatLeft{ float:left;}
@mixin floatRight{ float:right;}
@mixin clearfix{ clear:both;}
@mixin textMedium{font-size:1.5rem}
@mixin textLarge{font-size:1.8rem}
@mixin textBold{font-weight:bold}
@mixin textUppercase{text-transform: uppercase}
@mixin textCenter{text-align:center}
@mixin opacityHigh{opacity: 0.8}
@mixin listUnstyled{ padding-left:0; list-style:none}
@mixin noOutline{ outline:none;}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin vbuffer($vbuffer){
  height:$vbuffer;
  clear:both;
  width:100%;
}

// opacity transition
@mixin transitionOpacity {
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
// color transition
@mixin transitionColor {
  -webkit-transition: color 600ms ease;
  -moz-transition: color 600ms ease;
  -o-transition: color 600ms ease;
  transition: color 600ms ease;
}
// transition for all
@mixin transitionAll {
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
}

@mixin transitionSliderOn{
  -webkit-transition: width 1s ease; /* For Safari 3.1 to 6.0 */
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s;
    width: 700px;
}

@mixin transitionSliderOff{
  -webkit-transition: width 1s ease; /* For Safari 3.1 to 6.0 */
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;
  width: 0px;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin button {
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  padding: 4px 55px;
  margin: 10px 0 10px 10px;
  @include textCenter;
  @include textUppercase;
  @include transitionAll;
}

@mixin icon{
  font-family: FontAwesome;
}
@mixin space-reset{
  margin:0;
  padding:0;
}

@mixin tabicon{
  font-family: FontAwesome;
  color: $blue;
  margin-right:5px;
}

@mixin bluebg{
  background: rgba(242,246,247,0.6);
}
