
$blue:rgb( 4, 70, 111 );
$regular: rgb( 4, 64, 114 );

	

@mixin absolute($top,$right, $bottom, $left){
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	overflow: hidden;
}


@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}



@mixin font($size,$color){
	font-size:$size;
	color:$color;

}

@mixin margin($top,$right,$bottom,$left){
	margin-top: $top;
	margin-right: $right;
	margin-bottom: $bottom;
	margin-left: $left;

}

@mixin col1size(){
	width: 60%;
}
@mixin col2size(){
	width: 40%;
}


@mixin list-horizontal(){
	list-style: none;
	
	li{
		display: inline-block;
	}
}

@mixin box-sizing($width,$height){
	width: $width;
	height:$height;
	box-sizing: border-box;
}