.filter-tab-content{
  padding-top: 20px;
}

.filter-tab-content .tab-content{
   background-color: white; 
}

.filter-list-content{
  height: 285px;
  max-height: 350px;
  overflow: auto;
}

.filter-item-list{
  position: relative;
  top: 8px;
  height: 240px;
  overflow: auto;
}

.selected {
    border: 1px solid #a1d367;
    background: #a1d367;
}

.half-fill {
    border: 2px solid #a1d367;
    background: linear-gradient(90deg,#fff 50%,#a1d367 50%);
}

.selectable {
    cursor: pointer;
    border: 2px solid #ddd;
    margin-right: 5px;
    margin-top: 1px;
    float: left;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.toggle-nav, .tree .selectable {
    display: inline-block;
    cursor: pointer;
}

.expanded.closed {
    color: #66d;
}
.expanded.open {
    color: #d66;
}
.expanded {
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: 0 4px;
}

.counter {
    cursor: pointer;
    padding: 0 4px;
}

.filterItemInfo div{
  display: inline-block;
}

.nav-tabs{
  background-color:#BEDBEF;
}
.tab-content{
    background-color:#EDF2F5;
    color:#080808;
    padding:5px
}
.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover{
  background-color: #337AB7 !important;
  border: medium none;
  border-radius: 0;
  color:#fff;
}

.modal-header {
    background-color: #6F7F8C;
    color: #EFF6F9;
    padding: 15px;
    border-bottom: none;
}


.date-picker-container{
  display: inline-flex;
  width: 100%;
}

.date-picker-div{
  width: 50%;
  height: 90%;
  padding-left: 20px;
  padding-right: 20px;
}

.range-filter-container{
  width: 80%;
  height: 80%;
  padding: 20px;
}

.range-filter{
  padding-top: 40px;
}

//Input Range Styles 
.InputRange-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #3FD868;
  border: 2px solid #207737;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 2rem;
  margin-left: -1rem;
  margin-top: -1.15rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: -webkit-transform 0.3s ease-out, box-shadow 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 2rem; 
}
  .InputRange-slider:active {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  .InputRange-slider:focus {
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
  .InputRange.is-disabled .InputRange-slider {
    background: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    -webkit-transform: none;
            transform: none; }

.InputRange-sliderContainer {
  transition: left 0.3s ease-out; }

.InputRange-label {
  font-weight: bold;
  color: #777777;
  font-size: 1.2rem; }

.InputRange-label--min,
.InputRange-label--max {
  bottom: -2.4rem;
  position: absolute; }

.InputRange-label--min {
  left: 0; }

.InputRange-label--max {
  right: 0; }

.InputRange-label--value {
  position: absolute;
  color: #207737;
  top: -3rem; }

.InputRange-labelContainer {
  left: -50%;
  position: relative; }
  .InputRange-label--max .InputRange-labelContainer {
    left: 50%; }

.InputRange-track {
  background: #A7B1AD;
  border-radius: 0.6rem;
  display: block;
  height: 0.6rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out; }
  .InputRange.is-disabled .InputRange-track {
    background: #eeeeee; }

.InputRange-track--container {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%; }

.InputRange-track--active {
  background: #6AECAB; }

.InputRange {
  cursor: pointer;
  height: 1rem;
  position: relative;
  width: 100%; }

