.filter-tab-content{
  padding-top: 20px;
}

.filter-tab-content .tab-content{
   background-color: white; 
}

.filter-list-content{
  height: 285px;
  max-height: 350px;
  overflow: auto;
}

.filter-item-list{
  position: relative;
  top: 8px;
  height: 240px;
  overflow: auto;
}

.selected {
    border: 1px solid #a1d367;
    background: #a1d367;
}

.half-fill {
    border: 2px solid #a1d367;
    background: linear-gradient(90deg,#fff 50%,#a1d367 50%);
}

.selectable {
    cursor: pointer;
    border: 2px solid #ddd;
    margin-right: 5px;
    margin-top: 2px;
    float: left;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.toggle-nav, .tree .selectable {
    display: inline-block;
    cursor: pointer;
}

.expanded.closed {
    color: #66d;
}
.expanded.open {
    color: #d66;
}
.expanded {
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: 0 4px;
}

.counter {
    cursor: pointer;
    padding: 0 4px;
}

.filterItemInfo div{
  display: inline-block;
}

.nav-tabs{
  /*background-color:#BEDBEF;*/
}
.tab-content{
    background-color:#EDF2F5;
    color:#080808;
    padding:5px
}
.nav-tabs > li > a{
  border: medium none;
  /*color: #444;*/
}
/*
.nav-tabs > li > a:hover{
  background-color: #337AB7 !important;
  border: medium none;
  border-radius: 0;
  color:#fff;
}
*/
.nav-tabs > li > a:focus{
  outline: none;
}

.nav-tabs > li.active > a{
    color: #444  !important;
    cursor: default;
    background-color: #EDF2F5  !important;
}

.nav-stacked > li.active > a{
    color: #444  !important;
    cursor: default  !important;
    background-color: #FFF  !important;
}

.nav-stacked{
    padding-right: 0px  !important;
}

.nav-pills > li > a {
  border-radius: 0px  !important;
  color: #444;
}

.nav-pills > li > a:focus{
  outline: none;
}

.modal-header {
    background-color: #003a6c;
    color: #EFF6F9;
    padding: 15px;
    border-bottom: none;
}

.modal-title{
    font-weight: bold;
}

.modal-header .close {
    margin-top: -2px;
    color: #e1ebf1;
    font-size: 23px;
    font-weight: bolder;
    text-shadow: 0 0 0;
    opacity: 1;
}

.range-filter-container{
  width: 100%;
  height: 80%;
  padding: 20px;
}

.range-filter-selection{
  display: inline-flex;
  padding-top: 40px;
  >div {
    padding-right: 40px;
  }
}

.range-filter{
  padding-top: 40px;
}

//Input Range Styles 
.InputRange-sliderContainer:nth-of-type(1) .InputRange-slider  { 
    background-color: #fc8043;
}

.InputRange-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #d64854;
  /*border: 2px solid #d64854;*/
  border-radius: 25%;
  cursor: pointer;
  display: block;
  height: 24px;
  margin-left: -1px;
  margin-top: -15px;
  /*outline: none;
  position: absolute;
  top: 50%;*/
  transition: -webkit-transform 0.3s ease-out, box-shadow 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 5px; 
}
  .InputRange-slider:active {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  .InputRange-slider:focus {
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
  .InputRange.is-disabled .InputRange-slider {
    background: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    -webkit-transform: none;
            transform: none; }

.InputRange-sliderContainer {
  transition: left 0.3s ease-out; }

.InputRange-label {
  font-weight: bold;
  color: #777777;
  font-size: 1.2rem; }

.InputRange-label--min,
.InputRange-label--max {
  bottom: -2.4rem;
  position: absolute; }

.InputRange-label--min {
  left: 0; }

.InputRange-label--max {
  right: 0; }

.InputRange-label--value {
  position: absolute;
  /*color: #207737;*/
  top: -3.5rem; }

.InputRange-labelContainer {
  left: -50%;
  position: relative; }
  .InputRange-label--max .InputRange-labelContainer {
    left: 50%; }

.InputRange-track {
  background: #A7B1AD;
  border-radius: 0.6rem;
  display: block;
  height: 0.6rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out; }
  .InputRange.is-disabled .InputRange-track {
    background: #eeeeee; }

.InputRange-track--container {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%; }

.InputRange-track--active {
  background: #d64854; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #fc8043 , #d64854); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #fc8043, #d64854); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #fc8043, #d64854); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #fc8043, #d64854);
}

.InputRange {
  cursor: pointer;
  height: 1rem;
  position: relative;
  width: 100%; }

/*DATAPICKER STYLES*/
.date-picker {
    border: none;
}

.date-picker .dp-header {
    text-transform: uppercase;
    background: none;    
}

.date-picker .dp-header .dp-cell {
    font-weight: bolder;
    color: #0746A9;
}

.date-picker .dp-table .dp-cell.dp-value {
    color: #fff;
    font-weight: normal;
    background: #fc8043;
    border-radius: 50%;
}

.date-picker .dp-table .dp-row.dp-week-day-names {
    text-transform: uppercase;
    background: none;
    color: #0746A9;
    font-size: 10px;
    font-weight: bold;
}

.date-picker-divisor{
    width: 5px;
    background: #EDF2F5;
    height: 100%;
}

.date-picker-container{
  display: inline-flex;
  width: 100%;
}

.date-picker-div{
  width: 50%;
  height: 90%;
  padding-left: 20px;
  padding-right: 20px;
  >span{
    text-transform: uppercase;
    color: #0746A9;
    font-size: 12px;
  }
}


