
.project-search{
	padding: 20px;

}

.keyword-input-empty {
	background-color: #eee !important;
}

.item-text {
	font-size: 14px;
	color: #333;
	font-weight: bold;
}

.filterItemInfo div{
  padding-bottom: 1px;
}