@import '../../../stylesheets/base.scss';

.admin-view {

  form {
    clear:both;
    width: 75%;
    margin: 10px 2vw;
  }

  label {
    font-size: 80%;
    margin: 5px 5px;
  }

  /*Login*/
  #login-form {
    max-width: 500px;
    label {
      width: 80px;

    }
    input[type='text'], input[type='password'] {
      width: 20vw;
    }
    .form-group {
      border: 0px solid red;
    }
  }

  /*admin index */
  #admin-index {
    margin: 0px;
    ul.menu {
      clear: both;
      font-size: 80%;
      margin: 2vw;
      list-style: none;
      padding: 0px;
      li {
        padding: 5px;
        float: left;
      }
      li:before {
        content: "|";
      }
      li.active {
        font-weight: bold;
      }
    }

  }

  #add-indicator-form {
    ul {
      float: right;
    }

    .drop-zone {
      border: 1px dashed #4CAF50;
      min-height: 50px;
      line-height: 30px;
      padding: 5px;
      text-align: center;
      font-size: 85%;
    }
    .has-error {
      .drop-zone {
        border: 1px solid #a94442;
      }
    }
    li.scheme.active {
      box-sizing: border-box;
      border: 2px solid #2c7eae;

    }
  }

}
